# Binary output
chatgpt-creator

# OS files
.DS_Store

# Config and Results
results.txt
blacklist.json
results.txt
.tokensave
.gitnexus
.claude
plans
.neuralmemory
repomix-output.xml
release-manifest.json
.repomixignore
